{% extends 'todos/base.html' %}
{% block content %}

<style>
 h2, h3{
     text-align:center
 }
</style>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" href="{% url 'todos:add' %}">
    <i class="large material-icons">add</i>
  </a>
</div>
  <h2> Welcome to Todo-Manager </h2>

{% if my_user.is_admin %}
<h3> Unapproved Users: </h3>
<ul class="collection">
  {% for user in unapproved_users %}
    <li class="collection-item avatar">
      <img src="https://ukla.org/images/icons/user-icon.svg" alt="" class="circle">
      <span class="title">{{ user.user.get_full_name }}</span>
      <p>{{ user.user.email }}</p>
      <form action="{% url 'accounts:approve' user_id=user.id %}" method="post" style="margin-right: 10px">
              {% csrf_token %}
              <button type="submit" class="right btn-floating btn-large pulse secondary-content">
                <i class="large material-icons">group_add</i>
              </button>
      </form>
    </li>
  {% endfor %}
</ul>
{% endif %}

<h2>Pending Todos</h2>
{% if pending_todos %}
{% for todo in pending_todos %}
<div class="row" style="display: flex; justify-content: center ; align-items: center">
    <div style="width: 50%">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">
            <p class="left">Task {{ forloop.counter }} </p>
            <p class="right">{{ todo.assigned_to }}</p><br>
          </span>
          <p>{{ todo.content }}</p>
          <div class="card-action" style="display: flex;">
            <a class="left btn-floating btn-large red" href="{% url 'todos:edit' todo_id=todo.id %}" style="margin-right: 10px">
            <i class="large material-icons">edit</i>
          </a>
          <form action="{% url 'todos:complete' todo_id=todo.id %}" method="post" style="margin-right: 10px">
              {% csrf_token %}
              <button type="submit" class="btn-floating btn-large red">
                <i class="large material-icons">done</i>
              </button>
          </form>
          <form action="{% url 'todos:delete' todo_id=todo.id %}" method="post" style="margin-left: 300px">
              {% csrf_token %}
              <button type="submit" class="right btn-floating btn-large red">
                <i class="large material-icons">delete</i>
              </button>
          </form>
        </div>

      </div>
    </div>
</div>
</div>
{% endfor %}

{% else %}
<p> No pending todos </p>
{% endif %}

<h2>Completed Todos</h2>
{% if completed_todos %}
<table>
        <thead>
          <tr>
              <th>Sr.No</th>
              <th>Task</th>
              {% if my_user.is_admin %}
              <th>Assignee</th>
              {% endif %}
          </tr>
        </thead>
        <tbody>
{% for todo in completed_todos %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ todo.content }}</td>
            {% if my_user.is_admin %}
            <td>{{ todo.assigned_to.user.get_full_name }}</td>
            {% endif %}
          </tr>
{% endfor %}
        </tbody>
</table>
{% else %}
<p> No completed todos </p>
{% endif %}

<h2> Created Todos </h2>
{% if created_todos %}
<table class="center">
        <thead>
          <tr>
              <th>Sr.No</th>
              <th>Task</th>
              {% if my_user.is_admin %}
              <th>Assignee</th>
              {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for todo in created_todos %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ todo.content }}</td>
            {% if my_user.is_admin %}
            <td>{{ todo.assigned_to.user.get_full_name }}</td>
            {% endif %}
          </tr>
            {% endfor %}
</tbody>
</table>
{% else %}
<p> No completed todos </p>
{% endif %}

{% endblock %}
